<div style="margin-top:5em;">

    <div class="d-flex justify-content-center" style="margin-bottom:2em;">Thank you for using CoinWatch alpha version</div>

    <div class="d-flex justify-content-center">
        <ul>
            <li>
                Development of Portofolio's functionnalities in progress
            </li>
            <li>
                Development of Poloniex interface in progress
            </li>
            <li>
                Verified SSL certificate to be implemented
            </li>
        </ul>
    </div>

    <div class="d-flex justify-content-center">
        <ul>
            <li>
                Implementing database and private functionality to enable direct trading from /poloniex view.
            </li>
            <li>
                Implementing database to save configuration and coin portofolio for /portofolio. Will support more coins in the future.
            </li>
        </ul>
    </div>

</div>
