{% extends "base.html" %}
{% block content %}

<div class="container" >
    <div class="row" >
        <div class="col-lg-11" >
        </div>
        <div class="col-lg-1" >
            <a class="btn btn-info " href="{% url 'task' %}"><span class="glyphicon glyphicon-search"></span></a>
        </div>
    </div>
    <table class="table" >
        <thead>
            <tr>
                <th></th>
                <th>IP</th>
                <th>MAC</th>
                <th>Heure de la derniere observation</th>
                <th>Confiance</th>
                <th>Supprimé?</th>
        </th>
            </tr>
        </thead>
        <tbody>
            {% for element in database %}
            <tr>
                <th>{% if element.statut == "ACTIVE" %}
                    <span class="glyphicon glyphicon-ok" style="color:green"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    {% endif %}
                </th>
                <th><a href="{% url 'info' element.ip element.mac %}" style="color:black">{{ element.ip }}</a></th>
                <th>{{ element.mac }}</th>
                <th>{{ element.time_last }}</th>
                <th>{% if element.confiance == "NON" %}
                    <span class="glyphicon glyphicon-thumbs-down" style="font-size:1.5em"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-thumbs-up" style="font-size:1.5em"></span>
                    {% endif %}
                </th>
                <th><a class="btn btn-danger " href="{% url 'delete' element.ip element.mac %}"><span class="glyphicon glyphicon-trash"></span></a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
